.more-element {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 15px;
    width: 100%;
}

.more-element a {
    display: block;
    width: 100%;
    padding: 12px 15px;
    background-color: rgb(240, 240, 240);
    font-weight: 700;
    color: #111;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.more-element a:hover {
    background-color: #e0e0e0;
    transform: translateX(4px);
}

.more-element a.active-link {
    background-color: #333;
    color: #fff;
    font-weight: 900;
}
